<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>关于我们</title>
		<link rel="shortcut icon" href="<?php echo base_url()?>/img/icon.png">
		<link rel="stylesheet" type="text/css" href="<?php echo base_url('styles/')?>css/public_header.css"/>	
	</head>
	<body>
		<input type="hidden" id="local" value="<?php echo site_url()?>"/>
		<input type="hidden" id="local2" value="<?php echo base_url()?>"/>
		<!--公共头部-->
		<?php $this->load->view('public_header.html')?>
		<div class="guan_body">
			<div class="container">
				<div class="left">
					<div class="write">
						<div class="rg_board">
							<div class="rg_head">
								<p class="title">关于我们</p>
							</div>
							<div class="rg_body">
								<div class="paper">
									<p>之为诗词网，致力于做中国最优秀的古风文化社区，为古风兴趣爱好者提供一个和谐有爱的交流平台。</p>
									<p>社区旨在传播和弘扬古风文化，愿与广大古风爱好者以及民间古风组织们一起为促进中国古风文化在现代社会的发展做贡献。</p>
									<h2>网站logo</h2>
									<p><img src="<?php echo base_url('img/logo.png')?>"/></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="right">
					<div class="write">
						<div class="rg_board">
							<div class="rg_head">
								<p class="title">相关页面</p>
							</div>
							<div class="rg_body">
								<ul>
									<li> ·
										<a href="<?php echo site_url('home/regards')?>">关于我们</a>
									</li>
									<li> ·
										<a href="<?php echo site_url('home/statement')?>">免责声明</a>
									</li>
									<li> ·
										<a href="<?php echo site_url('home/relation')?>">联系我们</a>
									</li>
									<li> ·
										<a href="<?php echo site_url('home/suggest')?>">建议反馈</a>
									</li>
									<li> ·
										<a href="<?php echo site_url('home/integral')?>">积分说明</a>
									</li>
									<li> ·
										<a href="<?php echo site_url('home/grade')?>">等级说明</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--公共脚部-->
		<?php $this->load->view('public_footer.html')?>
		<script src="<?php echo base_url('styles/')?>js/jquery-3.0.0.js"></script>
	</body>
</html>
