<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>重置密码下一步</title>
		<link rel="shortcut icon" href="<?php echo base_url()?>/img/icon.png">
		<link rel="stylesheet" type="text/css" href="<?php echo base_url('styles/')?>css/login.css"/>
	</head>
	<body>
		<!--公共头部-->
		<?php $this->load->view('public_header.html')?>
			
		<div class="content">
			<div class="container">
				<div class="col">
					<div class="login_section">
						<div class="rg_form">
							<div class="rg_head">
								<h2>重置密码</h2>
							</div>
							<div class="rg_body">
								<div style="position: relative;margin-top: 20px;width: 100%;height: 40px;">
									<h4>发送成功</h4>
								</div>
								<div style="position: relative;width: 100%;height: 40px;">
									<p>重置密码链接已经发送至您的邮件，请检查邮件并点击邮件中的链接设置新的密码。</p>
								</div>
								<hr />
							</div>	
							<div class="action">
								<p>你还可以:<a href="<?php echo site_url('home/index')?>">返回首页</a>或者<a href="<?php echo site_url('login/login')?>">返回登录</a></p>							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
		<!--公共脚部-->
		<?php $this->load->view('public_footer.html')?>
	</body>
</html>
